.transparent {
  color: transparent;
}
// .current {
//   color: currentColor;
// }
.black {
  color: #000;
}
.white {
  color: #fff;
}
.gray-100 {
  color: #f7fafc;
}
.gray-200 {
  color: #edf2f7;
}
.gray-300 {
  color: #e2e8f0;
}
.gray-400 {
  color: #cbd5e0;
}
.gray-500 {
  color: #a0aec0;
}
.gray-600 {
  color: #718096;
}
.gray-700 {
  color: #4a5568;
}
.gray-800 {
  color: #2d3748;
}
.gray-900 {
  color: #1a202c;
}
.red-100 {
  color: #fff5f5;
}
.red-200 {
  color: #fed7d7;
}
.red-300 {
  color: #feb2b2;
}
.red-400 {
  color: #fc8181;
}
.red-500 {
  color: #f56565;
}
.red-600 {
  color: #e53e3e;
}
.red-700 {
  color: #c53030;
}
.red-800 {
  color: #9b2c2c;
}
.red-900 {
  color: #742a2a;
}
.orange-100 {
  color: #fffaf0;
}
.orange-200 {
  color: #feebc8;
}
.orange-300 {
  color: #fbd38d;
}
.orange-400 {
  color: #f6ad55;
}
.orange-500 {
  color: #ed8936;
}
.orange-600 {
  color: #dd6b20;
}
.orange-700 {
  color: #c05621;
}
.orange-800 {
  color: #9c4221;
}
.orange-900 {
  color: #7b341e;
}
.yellow-100 {
  color: #fffff0;
}
.yellow-200 {
  color: #fefcbf;
}
.yellow-300 {
  color: #faf089;
}
.yellow-400 {
  color: #f6e05e;
}
.yellow-500 {
  color: #ecc94b;
}
.yellow-600 {
  color: #d69e2e;
}
.yellow-700 {
  color: #b7791f;
}
.yellow-800 {
  color: #975a16;
}
.yellow-900 {
  color: #744210;
}
.green-100 {
  color: #f0fff4;
}
.green-200 {
  color: #c6f6d5;
}
.green-300 {
  color: #9ae6b4;
}
.green-400 {
  color: #68d391;
}
.green-500 {
  color: #48bb78;
}
.green-600 {
  color: #38a169;
}
.green-700 {
  color: #2f855a;
}
.green-800 {
  color: #276749;
}
.green-900 {
  color: #22543d;
}
.teal-100 {
  color: #e6fffa;
}
.teal-200 {
  color: #b2f5ea;
}
.teal-300 {
  color: #81e6d9;
}
.teal-400 {
  color: #4fd1c5;
}
.teal-500 {
  color: #38b2ac;
}
.teal-600 {
  color: #319795;
}
.teal-700 {
  color: #2c7a7b;
}
.teal-800 {
  color: #285e61;
}
.teal-900 {
  color: #234e52;
}
.blue-100 {
  color: #ebf8ff;
}
.blue-200 {
  color: #bee3f8;
}
.blue-300 {
  color: #90cdf4;
}
.blue-400 {
  color: #63b3ed;
}
.blue-500 {
  color: #4299e1;
}
.blue-600 {
  color: #3182ce;
}
.blue-700 {
  color: #2b6cb0;
}
.blue-800 {
  color: #2c5282;
}
.blue-900 {
  color: #2a4365;
}
.indigo-100 {
  color: #ebf4ff;
}
.indigo-200 {
  color: #c3dafe;
}
.indigo-300 {
  color: #a3bffa;
}
.indigo-400 {
  color: #7f9cf5;
}
.indigo-500 {
  color: #667eea;
}
.indigo-600 {
  color: #5a67d8;
}
.indigo-700 {
  color: #4c51bf;
}
.indigo-800 {
  color: #434190;
}
.indigo-900 {
  color: #3c366b;
}
.purple-100 {
  color: #faf5ff;
}
.purple-200 {
  color: #e9d8fd;
}
.purple-300 {
  color: #d6bcfa;
}
.purple-400 {
  color: #b794f4;
}
.purple-500 {
  color: #9f7aea;
}
.purple-600 {
  color: #805ad5;
}
.purple-700 {
  color: #6b46c1;
}
.purple-800 {
  color: #553c9a;
}
.purple-900 {
  color: #44337a;
}
.pink-100 {
  color: #fff5f7;
}
.pink-200 {
  color: #fed7e2;
}
.pink-300 {
  color: #fbb6ce;
}
.pink-400 {
  color: #f687b3;
}
.pink-500 {
  color: #ed64a6;
}
.pink-600 {
  color: #d53f8c;
}
.pink-700 {
  color: #b83280;
}
.pink-800 {
  color: #97266d;
}
.pink-900 {
  color: #702459;
}
